html {
  background-color: rgb(0, 1, 22);
  color: white;
}

header {
  text-align: center;
  font: bold 5rem Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#main {
  border: 0.5px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.screen {
  border: 0.5px solid rgb(255, 255, 255);
}
#alienShipScreen {
  width: 15vw;
}

#gameScreen {
  width: 70vw;
  height: 70vh;
  background: url("space.jpg") repeat;
  background-size: contain;
}

#ship {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: url("spaceship.png") no-repeat center / contain;
  transform: translateX(-50%);
  /* border: 2px solid white; */
}

#alien {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: url("alien1.png") no-repeat center / contain;
  transform: translateX(-50%);
  /* border: 2px solid white; */
}

#console {
  width: 15vw;
  height: 70vh;
  overflow: auto;
}
.button {
  margin: 1% auto;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
}

button {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0f5fa0; /* Space-themed blue */
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #00bfff; /* Lighter blue on hover */
  color: black;
  transform: scale(1.05);
}

button:active {
  background-color: #005f9e; /* Darker blue when pressed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

#alienShipScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
